langchain==1.1.3
langchain-community==0.4.1
langchain-ollama==1.0.0
langchain-openai==1.1.1
langchain-deepseek==1.0.1
openai==2.9.0
pandas==2.3.3
python-dotenv==1.2.1
pydantic~=2.12.5
langgraph~=1.0.4
sqlalchemy~=2.0.44